<a href="https://colab.research.google.com/github/nedayghb/sql_easy/blob/main/pyt1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# نصب کتابخانه SQLite
!pip install db-sqlite3

Collecting db-sqlite3
  Downloading db-sqlite3-0.0.1.tar.gz (1.4 kB)
  Preparing metadata (setup.py) ... done
Collecting db (from db-sqlite3)
  Downloading db-0.1.1.tar.gz (3.4 kB)
  Preparing metadata (setup.py) ... done
Collecting antiorm (from db->db-sqlite3)
  Downloading antiorm-1.2.1.tar.gz (171 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 172.0/172.0 kB 1.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-py3-none-any.whl size=1770 sha256=a53aee5ea878ac2a19afd6188cdd6ac15c95bae3d342585d8cb97d958aabd113
  Stored in directory: /root/.cache/pip/wheels/a6/b7/83/e941e0a0e04f417982e718ae7295d1e82b5f2863a1c51edd71
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-py3-none-any.whl size=3874 sha256=a5ba5887fdcb4fcae678a0e9cb58b9d4c2f36b48311de9e3ea6a865daa67c3b6
  Stored in directory: /root/.cache/pip/wheels/7d/e4/df/bc55b93af204ab098d9effec76f6889ad12d7ad74e833c4910
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-py3-none-any.whl size=31665 sha256=a0d1a1fcdf7b8fded07fb82b5791bd59eed0e78b57371150bfc4f9fdd9081573
  Stored in directory: /root/.cache/pip/wheels/30/9f/7e/b7c95b391cfa77a9e722d359e9c669cf6c8d798d748aec5091
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [2]:


# وارد کردن کتابخانه‌های مورد نیاز
import sqlite3

# ایجاد یک اتصال به پایگاه داده SQLite
conn = sqlite3.connect('sample.db')

# ایجاد یک جدول ساده
conn.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER NOT NULL
    )
''')

# افزودن داده به جدول
conn.execute("INSERT INTO students (name, age) VALUES (?, ?)", ('John Doe', 25))
conn.execute("INSERT INTO students (name, age) VALUES (?, ?)", ('Jane Doe', 22))

# نمایش اطلاعات
cursor = conn.execute("SELECT * FROM students")
for row in cursor:
    print(row)

# بستن اتصال
conn.close()

(1, 'John Doe', 25)
(2, 'Jane Doe', 22)

In [3]:
# اتصال به پایگاه داده
conn = sqlite3.connect('sample.db')

# ایجاد یک کرسور (cursor) برای اجرای دستورات SQL
cursor = conn.cursor()

# نمایش تمامی ردیف‌ها در جدول
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()
for row in rows:
    print(row)

# اضافه کردن یک رکورد جدید
new_student = ('Bob', 23)
cursor.execute("INSERT INTO students (name, age) VALUES (?, ?)", new_student)
conn.commit()

# نمایش تمامی ردیف‌ها پس از اضافه کردن رکورد جدید
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()
for row in rows:
    print(row)

# به‌روزرسانی یک رکورد
update_data = ('John Smith', 26, 1)  # نام جدید، سن جدید، شناسه رکورد مورد نظر
cursor.execute("UPDATE students SET name=?, age=? WHERE id=?", update_data)
conn.commit()

# نمایش تمامی ردیف‌ها پس از به‌روزرسانی
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()
for row in rows:
    print(row)

# حذف یک رکورد
record_to_delete = (2,)  # شناسه رکورد مورد نظر
cursor.execute("DELETE FROM students WHERE id=?", record_to_delete)
conn.commit()

# نمایش تمامی ردیف‌ها پس از حذف
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()
for row in rows:
    print(row)

# بستن اتصال
conn.close()

(1, 'Bob', 23)
(1, 'John Smith', 26)
(1, 'John Smith', 26)